.visual-essay {
    float: right;
    top: 0;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    justify-items: center;
    margin: var(--fluid-type-size);
}

.log {
    justify-self: start;
    place-self: start;
    /* https://fluidtypography.com/ */
    height: var(--fluid-type-size);
    font-size: var(--fluid-type-size);
    font-weight: 500;
    display: none;
}

.log::before {
    content: 'Idle time';
    font-size: 40%;
    display: block;
    color: rgba(175, 175, 175, .5);
}

.notification {
    position: relative;
    display: grid;
    justify-items: right;
    place-self: start;
    justify-self: end;
}

.active,
.inactive {
    position: absolute;
    width: 90vw;
    opacity: 1;
}

.active {
    z-index: 1;
}

.inactive {
    background-color: none;
}

.conceal {
    transition: opacity .3s ease-in-out;
    opacity: 0
}

.reveal {
    opacity: 1
}

section {
    top: 0;
    font-size: 3rem;
    z-index: -1;
}