*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: "ApfelGrotezk-Regular";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@font-face {
    font-family: "ApfelGrotezk-Regular";
    src: url("../fonts/ApfelGrotezk-Regular.woff2") format("woff2"), url("../fonts/ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
    font-family: "ApfelGrotezk-Fett";
    src: url("../fonts/ApfelGrotezk-Fett.woff2") format("woff2"), url("../fonts/ApfelGrotezk-Fett.woff") format("woff");
}

@font-face {
    font-family: "ApfelGrotezk-Brukt";
    src: url("../fonts/ApfelGrotezk-Brukt.woff2") format("woff2"), url("../fonts/ApfelGrotezk-Brukt.woff") format("woff");
}

html {
    font-size: calc(1em + .6vw);
    line-height: 1.1;
    font-weight: 200;
    /* word-break: break-word;*/
    /* word-wrap: break-word;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

.h1 {
    font-size: 20px;
}

.h2 {
    font-size: 20px;
}

p {
    font-weight: 900;
    padding: 0;
    margin: 0;
}

p+p {
    margin-top: 20px;
}

::selection {
    background: #007bff;
    color: #fff;
}


/* LEAVE */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
    transition: .2s all ease;
}

a:hover {
    color: inherit;
}

a:active {
    opacity: .5;
}

.menu-placeholder {
    width: 100%;
    left: 0;
    display: none;
    height: 44px;
}

.menu-wrapper {
    position: absolute;
    width: 100%;
    background: none;
    left: 0;
    /* height: 70px; */
    transition: .2s all ease;
    background-image: linear-gradient(white, transparent);
    /* mix-blend-mode: difference; */
}

.menu-wrapper-fixed {
    transition: .2s all ease;
    position: fixed;
    z-index: 100;
    /* offset */
    top: 0;
    /* background: #fff; */
    margin-top: 0;
    /* height: 50px; */
    transition: .2s all ease;
}

.menu-wrapper-fixed .menu li {
    padding-bottom: 6px;
}

.menu-wrapper-fixed .menu li.current a {
    color: black;
    font-weight: 700;
}

.menu-wrapper-fixed .menu li a {
    color: black;
}

.menu-wrapper-fixed .menu li a:hover {
    color: black;
}

.menu {
    font-family: "ApfelGrotezk-Fett";
    z-index: 100;
    text-align: right;
    width: 100%;
}

.menu a {
    text-align: right;
    color: black;
    margin: 0 8px;
}

.menu li {
    display: inline-block;
}

.logo-head {
    color: black;
    float: left;
    white-space: nowrap;
}

.logo-head img {
    position: relative !important;
    max-width: 100% !important;
    max-height: 24px;
    margin: 0;
}

.logo-dark {
    display: none;
}

.menu-flex {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.menu-flex ul {
    margin-top: 0;
    margin-bottom: 0;
}

.mobile-nav-container {
    font-family: "ApfelGrotezk-Fett";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    /* background: #fff; */
    /* mix-blend-mode: difference; */
    z-index: 10;
}

.slicknav_menu {
    display: none;
}

.slicknav_nav {
    list-style-type: none;
    list-style-type: none;
    padding: 0;
}

.slicknav_nav a {
    border-bottom: 0;
}

.slicknav_nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 0;
}

.slicknav_nav li {
    margin: 0 30px;
    position: relative;
    transition: .2s all ease;
    list-style-type: none;
    padding: 8px 0;
}

.slicknav_nav li:hover {
    font-weight: 700;
}

.slicknav_nav li a {
    /* phone */
    color: black;
}

.slicknav_nav .current {
    font-weight: 700;
    color: black;
}

.slicknav_nav .current::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: black;
    margin-top: 0px;
    z-index: -3;
    animation-name: dashIn;
    animation-duration: .15s;
    animation-delay: .4s;
    animation-fill-mode: forwards;
}


/* LEAVE */

.ham-icon {
    height: 22px;
    position: relative;
    margin-left: 20px;
    margin-top: 0;
    padding: 16px 8px 32px;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(white, transparent);
    display: none;
}

.cd-top {
    position: relative;
    /* z-index: 5; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    padding: 0.35em;
    margin: 0.6em 0 0 0.05em;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}


/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-110%);
}

.main {
    padding: 8px 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    /* text-indent: 4rem; */
}

h3+p,
h2+p,
h1+p,
blockquote+p {
    text-indent: 0;
}

p+p {
    /* text-indent: 4rem; */
    margin-top: 0;
}

blockquote {
    margin-left: 4rem;
    margin-right: 4rem;
}

blockquote p {
    text-indent: 0;
}

.bigfoot-footnote__content p {
    text-indent: 0;
}

#captions p,
#chapter-03 a {
    text-indent: 0;
}

#captions h1 {
    margin-top: 10em;
}


/**
*
* Helpers
*
**/

@media only screen and (max-width: 61em) {
    .mobile-visible {
        display: block;
    }
}

@media only screen and (max-width: 61em) {
    .mobile-hidden {
        display: none;
    }
}

@media only screen and (min-width: 61em) {
    .desktop-visible {
        display: block;
    }
}

@media only screen and (min-width: 61em) {
    .desktop-hidden {
        display: none;
    }
}

@media only screen and (max-width: 61em) {
    .ham-icon {
        margin-left: 0;
        /* padding-left: 8px; */
        display: block;
    }
    .ham-icon>div {
        font-size: 2.3em;
        /*color: #a1a721;*/
    }
    .ham-icon.open {
        background-image: linear-gradient(white, white);
    }
    .ham-icon.open+.mobile-nav {
        padding: 16px 0 12px;
        background-color: #fff;
    }
}

@media only screen and (max-width: 61em) {
    .ham-icon {
        display: block;
    }
}

@media only screen and (max-width: 61em) {
    .menu-wrapper,
    .logo-head {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
}

@media only screen and (max-width: 61em) {
    .mobile-nav-container {
        padding-bottom: 13px;
    }
}

@media only screen and (max-width: 600px) {
    p+p {
        /* text-indent: 1rem; */
    }
    blockquote {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}